{% extends 'base.html.twig' %}

{% block title %}ListsToDO{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>ListsToDo</h1>

    <div>
        {% for list in lists %}
            <a href="{{ list.link }}">
                <div>
                    <span>
                        <h2>{{ list.name }}</h2>
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
